# deps
node_modules/
.pnpm-store/

# build
dist/
.next/
out/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# prisma
apps/api/prisma/*.db

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
.gstack/

# playwright
playwright-report/
test-results/
